fastapi
uvicorn
pandas
pydantic
python-dotenv
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
google-generativeai
google-api-python-client
google-auth
sendgrid
pyautogen==0.1.5
openai
requests
numpy
matplotlib
scikit-learn
scipy
beautifulsoup4
python-dateutil
PyYAML
langchain_openai
tabulate